.header{
    background: white;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px gray solid;
    .right{
        display: flex;
        .search{
            margin-right: 10px;
            width: 42px;
            height: 28px;
            border-radius: 25px;
            background: gainsboro;
            display: flex;
            align-items: center;
            justify-content: center;
            .box{
                font-size: 18px;
            }
        }
        .app{
            width: 86px;
            height: 28px;
            border-radius:25px;
            color: white;
            background: orange; 
            display: flex;
            line-height: 28px;
            justify-content: center;
        }
    }
}